.girlWindowWrapper {
  position: absolute;
  bottom: -10vh;
  right: 0;
  height: 50vmax;
  width: 50vmax;
}

svg#girlWindowSvg {
  /* right: 0; */
  /* height: 46vmax; */

  /* position: absolute; */
  /* bottom: -10vh; */
}
